:root {
  --bs-body-font-family: Roboto !important;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: Roboto !important;
  color: #000000;
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.container {
  height: auto;
  margin: 0 auto;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}